################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/SQLiteLib/.vs
/.vs
/src/SQLiteLib/Lib/SQLiteLib/bin/Debug/net6.0
/src/SQLiteLib/Lib/SQLiteLib/obj
